/* Sidebar */
.menu-container {
  width: 200px;
  background-color: #f8f9fa;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.menu-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.menu-button {
  width: 100%;
  margin-bottom: 10px;
}

/* Layout principal */
.filter-container {
  margin: 20px;
}

.filter-input {
  width: 250px;
}

/* Tabela */
.table-container {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

mat-paginator {
  margin-top: 10px;
}
