<mat-card class="container">
  <mat-card-title>Cadastro de Abastecimento</mat-card-title>
  <mat-card-content>
    <form #abastecimentoForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Placa do Veículo</mat-label>
        <input matInput [(ngModel)]="abastecimento.placa" name="placa" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quilometragem</mat-label>
        <input matInput type="number" [(ngModel)]="abastecimento.quilometragem" name="quilometragem" required min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valor Total</mat-label>
        <input matInput type="number" [(ngModel)]="abastecimento.valorTotal" name="valorTotal" required min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data e Hora</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="abastecimento.dataHora" name="dataHora" required>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="warn" routerLink="/">Cancelar</button>
    <button mat-raised-button color="primary" (click)="salvar()" [disabled]="!abastecimentoForm.valid">
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
